[Unit]
Description=Flask Application

[Service]
EnvironmentFile=/opt/solo-project/venv/bin/activate
User=pythonadm
WorkingDirectory=/opt/solo-project
ExecStart=/bin/bash -c 'cd /opt/solo-project && source ~/.bashrc && source ./venv/bin/activate && gunicorn --bind=0.0.0.0:8001 application:app'

[Install]
WantedBy=multi-user.target
