<!DOCTYPE html>
{% extends "layout.html" %}
{% block body_content %}
<h1>Anime List</h1>

<div class="table">
	<table>
		<tbody>
			<tr><th>Title</th></tr>
			<tr><th>Genre</th></tr>
			<tr><th>Year Released</th></tr>
			{% for anime in animes %}
				<tr><td>{{ anime.title }}</td></tr>
				<tr><td>{{ anime.genre }}</td></tr>
				<tr><td>{{ anime.year_released }}</td></tr>
			{% else %}
				<a href="{{ watching.submit }}">Watching</a>
				<a href="{{ completed.submit) }}">Completed</a>
			{% endfor %}
		</tbody>
	</table>
<!-- <p>Welcome to this web app!</p> -->
{% endblock body_content %}
~                                                                                                                         
~                                                                                                                         
~                                                                                                                         
~                                                                                                                         
~                                             
