<!DOCTYPE html>
{% extends "layout.html" %}
{% block body_content %}
<h1>Anime List</h1>

<div class="table">
	<table>
		<tr>
			<th>Title</th>
			<th>Genre</th>
			<th>Year Released</th>
		</tr>
		<tr>
			<th>{{ animes.title }}</th>
			<th>{{ animes.genre }}</th>
			<th>{{ animes.year_released }}</th>
		</tr>
	</table>
<!-- <p>Welcome to this web app!</p> -->
{% endblock body_content %}
~                                                                                                                         
~                                                                                                                         
~                                                                                                                         
~                                                                                                                         
~                                             
