<!DOCTYPE html>
{% extends "layout.html" %}
{% block body_content %}
<h1>Anime List</h1>

<div class="table">
	<table>
		<tr>
			<th>Title</th>
			<th>Genre</th>
			<th>Year Released</th>
		</tr>
		{% for anime in animes %}
			<tr>
				<th>{{ anime.title }}</th>
				<th>{{ anime.genre }}</th>
				<th>{{ anime.year_released }}</th>
			</tr>
			<a href='{{ url_for('add_to_watching') }}'>Watching</a>
			<a href='{{ url_for('add_to_completed') }}'>Completed
		{% endfor %}
	</table>
<!-- <p>Welcome to this web app!</p> -->
{% endblock body_content %}
~                                                                                                                         
~                                                                                                                         
~                                                                                                                         
~                                                                                                                         
~                                             
