{% extends "layout.html" %}
{% block body_content %}
        <h1>Register page</h1>
        <p>Already have an account? Login!</p>
        <div class="form">
                <form method="POST" action="">
                        {{ form.hidden_tag() }}
			<!-- User Input: Firstname -->
			<div class="form-group">
				{{ form.firstnmae.label }}
				{% if form.firstname %}
					{{ form.firstname }}	
				<div class="error">
					{% for error in form.firstname.error %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
					{{ form.firstname }}
				{% endif %}
			</div>
			<br>
			<!-- User Input: Lastname -->
                        <div class="form-group">
                                {{ form.lastnmae.label }}
                                {% if form.lastname %}
                                        {{ form.lastname }}
                                <div class="error">
                                        {% for error in form.lastname.error %}
                                                <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                                {% else %}
                                        {{ form.lastname }}
                                {% endif %}
                        </div>
                        <br>
			<!-- User input: Email -->		
			<div class="form-group">
				{{ form.email.label }}
                                {% if form.email.errors %}
                                        {{ form.email }}
                                <div class="error">
                                        {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                                {% else %}
                                        {{ form.email }}
                                {% endif %}
                        </div>
                        <br>
			<!-- User Input: Password -->
                        <div class="form-group">
				{{ form.password.label }}
				{% if form.password.errors %}
                                        {{ form.password }}
                                <div class="error">
                                        {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                                {% else %}
                                        {{ form.password }}
                                {% endif %}
                        </div>
                        <br>
			<!-- User Input: Confirm Password -->
                        <div class="form-group">
				{{ form.confirm_password.label }}
				{% if form.confirm_password.errors %}
					{{ form.confirm_password }}
				<div class="error">
					{% for error in form.confirm_password.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
					{{ form.confirm_password }}
				{% endif %}
			</div>
			<!-- Register Button -->
			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>
{% endblock body_content %}
